<div class="lightbox">
    <mat-icon class="lightbox__close material-symbols-outlined" (click)="close()">
        close
    </mat-icon>
    <!-- <CloseIcon @click="closeLightbox()" class="lightbox__close svg-icon--black"></CloseIcon> -->
    <div class="lightbox__slide prev" (click)="slideLeft()">
        <mat-icon class="material-symbols-outlined" >
            chevron_left
        </mat-icon>
        <!-- <ArrowLeftIcon @click="prevImage()" class="svg-icon--black" ></ArrowLeftIcon> -->
    </div>
    <div class="lightbox__slide next" (click)="slideRight()">
        <mat-icon class="material-symbols-outlined">
            chevron_right
        </mat-icon>
        <!-- <ArrowRightIcon @click="nextImage()" class="svg-icon--black"></ArrowRightIcon> -->
    </div>
    <div class="lightbox__box">
        <img class="lightbox__img" [src]="image" alt="">
    </div>
</div>