// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$section-bg-color: var(--color-secondary-light);
$section-padding: 30px 20px;
$section-border-radius: 5px;
$section-max-width: 900px;


//MAIN
$padding-bottom-page: 100px;

// HEADER
$header-width: 270px;

// TOP HEADER
$top-header-height: 110px;

$padding-top: 33px;
$padding-sides:53px;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$border-bottom: 1px solid var(--color-light-gray);

/// @type Color
$primary-color: #009A93;

/// @type Color
$primary-light-color: #c3d7d5;

/// @type Color
$primary-dark-color: #294b49;

/// @type Color
// $secondary-color: #e3dad6;
// $secondary-color: #f6f2f0;
$secondary-color: #fefcf5;;

/// @type Colorrgb(243, 238, 236)
// $secondary-light-color: #f2ebe7;
$secondary-light-color: #ffffff;

/// Copy text color
/// @type Color
$text-color: rgb(232, 232, 232) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(27, 210, 198) !default;

// White
/// @type Color
$white-color: rgb(255, 255, 255);

// Translucent Dark
/// @type Color
$translucent-dark-color: hwb(30 8% 90% / 0.945);

// Translucent Light
/// @type Color
$translucent-light-color: hwb(17 54% 40% / 0.737);

/// Light grey
/// @type Color
$light-gray: rgb(138, 142, 154) !default;

/// Light grey
/// @type Color
$mid-light-gray: rgb(75, 79, 83) !default;

/// Medium grey
/// @type Color
$mid-gray: rgb(54,57,62) !default;

/// Medium grey
/// @type Color
$mid-dark-gray: rgb(41, 45, 49) !default;

/// Dark grey
/// @type Color
$dark-gray: rgb(30,33,36) !default;

/// BLack
/// @type Color
$black: rgb(36, 36, 36) !default;

/// Warn
/// @type Color
$warn: rgb(255, 85, 0) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;



/// Z-index
$highest-level: 10;
$second-level: 9;
$third-level: 8;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;


