<div class="selected-image__container">
    <div class="selected-image">
        <img class="selected-image__image" [src]="fileUrl" alt="Imagen seleccionada">
        <div class="selected-image__buttons">
            <button type="button" mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon>open_in_full</mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Example icon-button with a menu"
                (click)="deleteImage()" type="button">
                <mat-icon class="icon--red">delete</mat-icon>
            </button>
        </div>
    </div>
</div>