<main class="content">
    <h1>Gracias por tu pedido</h1>
    <p class="confirmation__important">Hemos recibido tu pedido <span
        class="confirmation__id">#{{this.order.id}}</span> y está en proceso.</p>
    <!-- <span>
        #{{this.order.id}}
    </span> -->
    <p class="confirmation__message">Pronto recibirás por email la confirmación con el número de tu pedido y las actualizaciones del envío y la entrega.</p>
    <!-- <p>Recibirás las actualizaciones del envío y la entrega por email.</p> -->
    <!-- <section class="confirmation__message">
        
        <article>
            <h2>Email de confirmación del pedido</h2>
           
        </article>
        <article>
            <h2>Actualizaciones del pedido</h2>
            
        </article>
    </section> -->

    <!-- <h2>Tu pedido <span class="confirmation__id">#{{this.order.id}}</span></h2> -->
    <app-order-summary [order]="order"></app-order-summary>
    <!-- Su compra se ha completado: {{transactionID}} -->
</main>