<header class="header">
    <a [routerLink]="'/'">
        <img class="header__logo" src="../../assets/images/logo.svg" alt="">
    </a>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__element">
                <a class="nav__link" routerLink="/">Illustration</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/store">Store</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/contact">Contacto</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/about-me">About me</a>
            </li>
        </ul>
    </nav>
    <ul class="header__social">
        <li>
            <a href="https://www.instagram.com/lau.rodiz/" target="_blank">
                <mat-icon svgIcon="instagram"></mat-icon>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/LauRodiz" target="_blank">
                <mat-icon svgIcon="twitter"></mat-icon>
            </a>

        </li>
        <li>
            <a href="https://www.tiktok.com/@lau.rodiz" target="_blank">
                <mat-icon svgIcon="tik-tok"></mat-icon>
            </a>

        </li>
        <li>
            <a href="https://www.twitch.tv/laurodiz" target="_blank">
                <mat-icon svgIcon="twitch"></mat-icon>
            </a>

        </li>
    </ul>
    <span class="header__email">laurodiz@gmail.com</span>
</header>