<header class="header">
    <!-- <img class="header__logo" src="../../assets/images/logo.svg" alt="">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__element">
                <a class="nav__link" routerLink="/">Illustration</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/store">Store</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/contact">Contacto</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/about-me">About me</a>
            </li>
        </ul>
    </nav> -->
    
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__element">
                <a class="nav__link" routerLink="/">Home</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/">Illustrations</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/store">Store</a>
            </li>
            <img class="header__logo" src="../../assets/images/logo.svg" alt="">
            
            <li class="nav__element">
                <a class="nav__link" routerLink="/about-me">About me</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/about-me">Services</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/contact">Contacto</a>
            </li>
        </ul>
    </nav>
</header>
