<header class="header">
    <img class="header__logo" src="../../assets/images/logo1.png" alt="">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__element">
                <a class="nav__link" routerLink="/">Illustration</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/store">Store</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/contact">Contacto</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/about-me">About me</a>
            </li>
        </ul>
    </nav>
</header>
