<div class="modal {{size}}">
    <div class="modal__header">
        {{title}}
        <mat-icon class="material-symbols-outlined search-bar__close-icon" (click)="close()">
            close
        </mat-icon>
    </div>
    <div class="modal__content">
        <app-search-bar [placeholder]="'Añade o busca una categoría'" [addButton]="true" (searchEvent)="search($event)" (addEvent)="addCategory($event)"></app-search-bar>
        {{categoriesListModified}}
        <span *ngIf="!categoriesListModified">safdsafdsaf</span>
        <ul >
            <li *ngFor="let category of categoriesListModified; let i=index;">
                aaa
            </li>
        </ul>
    </div>
    <div class="modal__footer">
        
    </div>
</div>
<div class="modal__backdrop" (click)="close()"></div>