<div class="search-bar">
    <div class="search-bar__content">
        <mat-icon class="material-symbols-outlined search-bar__icon">
            search
        </mat-icon>
        <input type="text" class="search-bar__input" placeholder="{{placeholder}}" (input)="searchChange()"
            [(ngModel)]="search">
        <button (click)="clear()" class="button button--icon">
            <mat-icon class="material-symbols-outlined search-bar__close-icon">
                close
            </mat-icon>
        </button>
    </div>

</div>