<div class="search-bar">
    <div class="search-bar__content">
        <mat-icon class="material-symbols-outlined underlined-input__icon underlined-input__icon--left">
            search
        </mat-icon>
        <input type="text" class="search-bar__input" placeholder="{{placeholder}}" (input)="searchChange()"
            [(ngModel)]="search">
        <button *ngIf="!addButton && search" (click)="clear()" class="button button--icon">
            <mat-icon class="material-symbols-outlined underlined-input__icon--right">
                close
            </mat-icon>
        </button>
        <button *ngIf="addButton" (click)="add()">
            Añadir
        </button>
    </div>

</div>