<div class="cart">
    <div class="modal__header">
        Selecciona una categoría
        <mat-icon class="material-symbols-outlined search-bar__close-icon" (click)="close()">
            close
        </mat-icon>
    </div>
    <div class="modal__content">
        <div *ngFor="let product of cartProducts; let i=index;" class="cart__item">
            <div class="cart__item-side">
                <img class="cart__image" [src]="'http://localhost:8080/images/'+product.thumbnail_id" alt="">
                <span>{{product.name}}</span>
            </div>
            <div class="cart__item-side">
                <div class="cart__quantity">
                    <button mat-icon-button aria-label="Example icon-button with a menu"
                    (click)="addMoreItem(product.id)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <span>{{product.quantity}}</span>
                    <button mat-icon-button aria-label="Example icon-button with a menu"
                    (click)="reduceItem(product.id)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
                <button mat-icon-button aria-label="Example icon-button with a menu">
                    <mat-icon>cancel</mat-icon>
                </button>

                <span>{{product.quantity * product.price}}</span>
            </div>
        </div>
    </div>
    <div class="modal__footer">
        {{totalPrice}}
        <button (click)="checkout()">CHECKOUT</button>
    </div>
</div>
<div class="modal__backdrop" (click)="close()"></div>