<main class="content">
    <h1>Contact me</h1>
    <form id="form" [formGroup]="contactForm" class="checkout__form">
        <section class="checkout__section">
            <app-input formControlName="name" [label]="'Nombre'" [placeholder]="'Tu nombre...'" [name]="'name'"
            [required]="true"></app-input>

            <app-input formControlName="email" [label]="'Correo electrónico'" [placeholder]="'Tu correo electrónico...'"
                [name]="'email'" [required]="true"></app-input>

            
            <app-input formControlName="message" [label]="'Mensaje'" [placeholder]="'Tu mensaje...'"
                [name]="'message'" [required]="true"></app-input>

            <button (click)="send()" class="checkout__save">Guardar</button>
        </section>
    </form>
</main>