<main class="content contact">
    
    
    <form id="form" [formGroup]="contactForm" class="form form__row contactForm">
        <h1>Contacto</h1>
            <app-input formControlName="name" [label]="'Nombre'" [placeholder]="'Tu nombre...'"
            [required]="true"></app-input>

            <app-input formControlName="email" [label]="'Correo electrónico'" [placeholder]="'Tu correo electrónico...'"
                [required]="true"></app-input>

            
            <app-input formControlName="message" [label]="'Mensaje'" [placeholder]="'Tu mensaje...'"
                [required]="true"></app-input>

            <button class="button button--white" (click)="send()">Enviar</button>
    </form>
</main>