// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {}

.button[class*="--large"] {
    column-gap: 5px;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.button[class*="--medium"] {
    column-gap: 5px;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 10px;
    width: fit-content;
}


.button[class*="--filled"] {
    border: none;
    background-color: var(--color-text);
    color: var(--color-background);
    cursor: pointer;
}
.button[class*="--empty"] {
    border: 1px solid var(--color-text);
    background: none;
    color: var(--color-text);
    cursor: pointer;
}

.button[class*="--white"] {
    padding: 10px;
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-dark-light);
    color: white;
    cursor: pointer;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.button[class*="--text"] {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.button[class*="--icon"] {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.button[class*="--light"] {
    color: var(--color-light-gray);
}

.button[class*="--warn"] {
    color: var(--color-warn);
}