.cart {
  background-color: var(--color-background);
  border-radius: 5px;
  height: fit-content;
  left: 50%;
  max-height: 600px;
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  // max-width: 1200px;
  // width: 100%;
  width: 80%;
  z-index: 100;
  @include tablet {
    //width: 90%;
    width: calc(100% - ($mobile-padding-sides*2));
  }
}

.cart__item {
  align-items: center;
  border-bottom: 3px solid var(--color-light-gray);
  display: flex;
  
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;

  // .cart__item-side {
  //   align-items: center;
  //   column-gap: 20px;
  //   display: flex;
  //   height: 100%;
  // }
  .cart__section--principal {
    justify-content: flex-start;
  }
  @include tablet {
    display: grid;
    
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
    grid-template-areas: "principal principal"
                        "quantity price";
    row-gap: 10px;
    .cart__section--principal {
      grid-area: principal;
    }
    .cart__section--quantity {
      grid-area: quantity;
    }
    .cart__section--price {
      grid-area: price;
    }
  }
}

.cart__image {
  height: 100px;
  margin-right: 10px;
}

.cart__section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.cart__subtotal {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
}

