.cart {
  background-color: var(--color-background);
  border-radius: 5px;
  height: 100%;
  max-height: 500px;
  left: 50%;
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  // max-width: 1200px;
  // width: 100%;
  width: 80%;
  min-width: 110px;
  z-index: 100;
  @include tablet {
    min-width: none;
    //width: 90%;
    width: calc(100% - ($mobile-padding-sides*2));
  }

}

.cart__item {
  align-items: center;
  border-bottom: 3px solid var(--color-light-gray);
  display: flex;
  
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;

  // .cart__item-side {
  //   align-items: center;
  //   column-gap: 20px;
  //   display: flex;
  //   height: 100%;
  // }
  .cart__section--principal {
    flex-grow: 1;
    justify-content: flex-start;
  }
  @include tablet {
    display: grid;
    
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
    grid-template-areas: "principal principal"
                        "quantity price";
    row-gap: 10px;
    .cart__section--principal {
      grid-area: principal;
    }
    .cart__section--quantity {
      grid-area: quantity;
    }
    .cart__section--price {
      grid-area: price;
    }
  }
}
.cart__image-container {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.cart__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart__name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  @include mobile {
    flex-basis: 30%;
  }
}
.cart__section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: end;
  width: 100%;
  
  @include tablet {
    justify-content: start;
  }
}
.cart__subtotal {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
}
.cart__empty-image {
  max-width: 300px;
  width: 100%;
}
.cart__empty {
  align-items: center;
  display: flex;
  flex-direction: column;

}