.categories-modal__categories {}

.categories-modal__category {
    align-items: baseline;
    border-bottom: 1px solid var(--color-mid-light-gray);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}

.categories-modal__category-buttons {
    align-items: center;
    display: flex;
}