.underlined-input {
    border-bottom: 1px solid var(--color-light-gray);
    padding-bottom: 10px;
    font-size: 18px;
}
.underlined-input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text);
}
.underlined-input__icon[class*="--left"]{
    left: 0
}
.underlined-input__icon[class*="--right"]{
    right: 0
}

.search-bar {
    @extend .underlined-input;
    //background-color: var(--color-mid-gray);
    //margin-bottom: 20px;
    
    width: 100%;
}

.search-bar__content {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.search-bar__input {
    border: none;
    background-color: transparent;
    color: var(--color-text);
    height: 100%;
    outline: none;
    padding-left: 50px;
    padding-right: 30px;
    width: 100%;
}
