.section {
    background-color: $section-bg-color;
    border-radius: $section-border-radius;
    display: flex;
    flex-direction: column;
    // max-width: $section-max-width;
    padding: $section-padding;
    width: 100%;
}