.multiple-images {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));

  .add-image {
    height: 160px;
  }
}

.multiple-images__item {
  .selected-image {
    // object-fit: cover;
    width: 100%;
    height: 100%;

    .selected-image__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.selected-image__container {
  //background-color: rgb(173, 159, 156);
  //background-color: #e5e5f7;
  //opacity: 0.8;
  // background-image: radial-gradient(var(--color-primary) 2px, transparent 2px);
  // background-size: 30px 30px;
  // background-position: 0 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}


.selected-image {
  position: relative;
  width: fit-content;
  //height: 100%;
  //max-height: 400px;
  //width: 100%;
}

.selected-image__image {
  backface-visibility: hidden;
  background-color: white;
  display: block;
  // width: 100%;
  // height: auto;
  height: 100%;
  max-height: 500px;
  max-width: 100%;
  opacity: 1;
  transition: .5s ease;

}

.selected-image__bottom {

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;

}

.selected-image__top {
  display: flex;
  justify-content: space-between;
}

.selected-image__buttons {
  background-color: rgba(0, 0, 0, 0.499);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: .5s ease;
  width: 100%;

  button {
    background-color: rgba(0, 0, 0, 0.304);
    color: white;
  }
}

// .selected-image:hover .selected-image__image {
//   opacity: 0.3;
// }

.selected-image:hover .selected-image__buttons {
  opacity: 1;
}