.table{
    border-collapse: collapse;
    width: 100%;
}
.table__row, .table__header{
    width: 100%;
    border-bottom: 1px solid var(--color-light-gray);

}
.table__row:hover {
    background-color: var(--color-mid-gray);
}
.table__cell {
    padding: 10px;
    text-align: left;
}
.table__cell--small {
    flex-grow: 0;
}
.table__header .table__cell {
    color: var(--color-light-gray);
    font-weight: 200;
    font-size:medium;
}