// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

// $text-size-small: 12px;
// $text-size-primary: 16px;
// $text-size-medium: 18px;
// $text-size-large: 24px;


// Theme dark
.theme{
    --color-primary: #{$primary-color};
    --color-primary-light: #{$primary-light-color};
    --color-dark-light: #{$primary-dark-color};

    --color-secondary: #{$secondary-color};
    --color-secondary-light: #{$secondary-light-color};

    --color-background: #{$secondary-color};
    --color-translucent-dark: #{$translucent-dark-color};
    --color-translucent-light: #{$translucent-light-color};
    --color-text: #{$mid-gray};
    --color-light-gray: #{$light-gray}; 
    --color-mid-light-gray: #{$mid-light-gray}; 
    --color-mid-gray: #{$mid-gray};
    --color-mid-dark-gray: #{$mid-dark-gray};
    --color-dark-gray: #{$dark-gray};
    --color-icon: #{$text-color};
    --color-warn: #{$warn};
    // --mdc-checkbox-unselected-icon-color: #{$text-color};
    // --mdc-checkbox-disabled-selected-icon-color: #{$text-color};
    // --mdc-checkbox-unselected-focus-icon-color: #{$text-color};
    // --mdc-checkbox-disabled-unselected-icon-color: #{$text-color};
    // --mdc-checkbox-unselected-pressed-icon-color: #{$text-color};
    // Theme light
    &--dark{
        --color-primary: #{$primary-color};
        --color-background: #{$mid-gray};
        --color-text: #{$text-color};
        --color-light-gray: #{$light-gray}; 
        --color-mid-light-gray: #{$mid-light-gray}; 
        --color-mid-gray: #{$mid-gray};
        --color-mid-dark-gray: #{$mid-dark-gray};
        --color-dark-gray: #{$dark-gray};
        --color-icon: #{$text-color};
        --color-warn: #{$warn};
    }
}
.mdc-checkbox__background{
    border-color: $text-color;
}