<main class="content">
    <div class="content__top">
        <h1 class="content__title">Productos</h1>
        <button class="button button--white" routerLink="/admin/create-product">Agregar producto</button>
    </div>
    <app-search-bar (searchEvent)="search($event)" [placeholder]="'Buscar por nombre'"></app-search-bar>
    <div class="table">
        <div class="table__header">
            <th class="table__cell table__cell--small"></th>
            <th class="table__cell table__cell--medium--click" (click)="sortName()">Illustration
                <mat-icon *ngIf="!this.visibilitySort" class="material-symbols-outlined">
                    arrow_drop_down
                </mat-icon>
                <mat-icon *ngIf="this.visibilitySort" class="material-symbols-outlined">
                    arrow_drop_up
                </mat-icon>
            </th>
            <th class="table__cell table__cell--large"></th>
            <th class="table__cell table__cell--medium--click" (click)="sortVisibility()">Visibilidad
                <mat-icon *ngIf="!this.visibilitySort" class="material-symbols-outlined">
                    arrow_drop_down
                </mat-icon>
                <mat-icon *ngIf="this.visibilitySort" class="material-symbols-outlined">
                    arrow_drop_up
                </mat-icon>
            </th>
            <th class="table__cell"></th>
            <th class="table__cell table__cell--small"></th>
        </div>
        <ul class="table__body">
            <li class="table__row" *ngFor="let item of productsList; index as i">
                <div class="table__cell table__cell--small">
                    <mat-checkbox value="{{item.id}}" (change)="onIllustrationPressed($event)"
                        [ngModel]="isIllustrationChecked(item.id)"></mat-checkbox>
                </div>
                <div class="table__cell table__cell--medium">
                    <img class="table__image"
                        [src]="'http://localhost:8080/images/'+item.thumbnail_image_id" alt="">
                </div>
                <div class="table__cell table__cell--large">{{item.name}}</div>
                <div class="table__cell table__cell--medium">{{item.visibility == true? "Público": "Oculto"}}
                </div>
                <div class="table__cell"></div>
                <div class="table__cell table__cell--small">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editar(item.id)">Editar</button>
                        <button mat-menu-item>Vista previa</button>
                        <button mat-menu-item>Duplicar</button>
                        <button mat-menu-item (click)="deleteIllustration(item.id)">Eliminar</button>
                    </mat-menu>
                </div>
            </li>
        </ul>
    </div>
    <div class="toolbar" *ngIf="illustrationSelectedArray.length>0">
        <div class="toolbar__selection">
            <button (click)="unselectAllIllustrations()" mat-icon-button
                aria-label="Example icon button with a home icon">
                <mat-icon>deselect</mat-icon>
            </button>
            <span>{{illustrationSelectedArray.length}} seleccionado</span>
        </div>
        <div class="toolbar__options">
            <button class="toolbar__button button button--text--light" (click)="selectAllIllustrations()">
                Seleccionar todo</button>
            <button (click)="deleteIllustrationList()"
                class="toolbar__button button button--text--warn">Eliminar</button>
        </div>
    </div>
</main>