<div class="form__field">
    <div class="field">
        <div class="field__content field__content--button">
            <span class="label" for="name">Categorías
                <span class="hint-label">Crea
                    categorías para agrupar los productos. Las categorías
                    aparecerán en la navegación de la tienda.</span>
                </span>
            <button mat-icon-button aria-label="Abrir menú de categorías" type="button" (click)="openModal()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>