<main class="content">
    <h1>Checkout</h1>
    <div class="checkout__container">
        <form id="form" [formGroup]="checkoutForm" class="checkout__form">
            <section class="checkout__section">
                <div class="checkout__section-header">
                    <h2>Contacto</h2>
                    <button *ngIf="isEditable(1)" (click)="editFormGroup(1)" mat-icon-button aria-label="Example icon-button with a menu">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <fieldset *ngIf="step==1" formGroupName="contact" class="checkout__form-group">
                    <app-input formControlName="email" [label]="'Correo electrónico'"
                        [placeholder]="'micorreo@gmail.com'"  [required]="true"></app-input>
                    <div class="checkout__row">
                        <app-input formControlName="firstName" [label]="'Nombre'" [placeholder]="'Rocío'"
                             [required]="true"></app-input>
                        <app-input formControlName="lastName" [label]="'Apellidos'" [placeholder]="'Rodríguez Díaz'"
                             [required]="true"></app-input>
                    </div>
                    <button (click)="saveStep()" class="checkout__save">Guardar</button>
                </fieldset>
            </section>
            <section class="checkout__section">
                <div class="checkout__section-header">
                    <h2>Entrega</h2>
                    <button *ngIf="isEditable(2)" (click)="editFormGroup(2)" mat-icon-button aria-label="Example icon-button with a menu">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <fieldset *ngIf="step==2" formGroupName="shipping_address" class="checkout__form-group">
                    <app-input formControlName="address" [label]="'Dirección 1'" [placeholder]="'Calle Sagasta, nº18'"
                       ></app-input>
                    <app-input formControlName="secondAddress" [label]="'Dirección 2'" [placeholder]="'Primer piso, A'"
                        ></app-input>
                    <div class="checkout__row">
                        <app-input formControlName="city" [label]="'Población'" [placeholder]="'ej. Jerez de la Forntera'"
                            ></app-input>
                        <app-input formControlName="postalCode" [label]="'Código Postal'" [placeholder]="'11130'"
                         [mask]="'00000'"></app-input>
                    </div>
                    <app-input formControlName="phone" [label]="'Número de móvil'" [placeholder]="'643 57 89 21'"
                         [mask]="'000 00 00 00'"></app-input>
                    <button (click)="saveStep()" class="checkout__save">Guardar</button>
                </fieldset>
            </section>
            <section class="checkout__section">
                <div class="checkout__section-header">
                    <h2>Pago</h2>
                    <!-- <button (click)="editFormGroup(3)" mat-icon-button aria-label="Example icon-button with a menu">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                </div>
                <div [hidden]="step!=3"> 
                    <div #paymentRef></div>
                    <button (click)="createOrder()">Comprar</button>
                </div>

                
                <!-- <fieldset *ngIf="step==3" formGroupName="payment" class="checkout__form-group">
                    <div class="checkout__accordion">
                        <div class="checkout__accordion-item">
                            <button (click)="switchPaymentMethod(false)" [ngClass]="{'checkout__accordion-button--checked': !getPaypalOption()}" class="checkout__accordion-button ">
                                <span class="checkout__accordion-radio-container">
                                    <mat-icon *ngIf="getPaypalOption()">radio_button_unchecked</mat-icon>
                                    <mat-icon *ngIf="!getPaypalOption()">radio_button_checked</mat-icon>
                                    <span>Tarjeta</span>
                                </span>
                                <span>visa</span>
                            </button>
                            <div class="checkout__accordion-content" *ngIf="!getPaypalOption()">
                                <fieldset formGroupName="card" class="checkout__form-group">
                                    <div class="checkout__row">
                                        <app-input formControlName="firstName_card" [label]="'Nombre'" [placeholder]="'Rocío'"
                                            [name]="'firstName_card'" [required]="true"></app-input>
                                        <app-input formControlName="lastName_card" [label]="'Apellidos'" [placeholder]="'Rodríguez Díaz'"
                                            [name]="'lastName_card'" [required]="true"></app-input>
                                    </div>
                                    <app-input formControlName="card_number" [label]="'Tarjeta nº.'" [placeholder]="'1234 5678 9012 3456'"
                                        [name]="'card_number'" [mask]="'0000 0000 0000 0000 0000'"></app-input>
                                    <div class="checkout__row">
                                        <app-input formControlName="expiration_date" [label]="'Fecha de caducidad'"
                                            [placeholder]="'MM/AA'" [name]="'expiration_date'" [mask]="'00/00'"></app-input>
                                        <app-input formControlName="cvv_cvc" [label]="'CVV/CVC'" [placeholder]="'3-4 dígitos'"
                                            [name]="'cvv_cvc'" [mask]="'0000'"></app-input>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="checkout__accordion-item">
                            <button (click)="switchPaymentMethod(true)" [ngClass]="{'checkout__accordion-button--checked': getPaypalOption()}" class="checkout__accordion-button">
                                <span class="checkout__accordion-radio-container">
                                    <mat-icon *ngIf="!getPaypalOption()">radio_button_unchecked</mat-icon>
                                    <mat-icon *ngIf="getPaypalOption()">radio_button_checked</mat-icon>
                                    <span>Paypal</span>
                                </span>
                                <span>paypal</span>
                            </button>
                            <div class="checkout__accordion-content" *ngIf="getPaypalOption()">
                                <p>Después de hacer clic en “Completar la compra”, aparecerá una ventana emergente que
                                    te pedirá que inicies sesión en tu cuenta de PayPal. Revisa el pago y los detalles
                                    de envío para completar la compra. A continuación, irás a la página de confirmación
                                    del pedido de H&M.</p>
                            </div>
                        </div>
                    </div>
                </fieldset> -->
            </section>
            <!-- <div #paymentRef></div> -->
        </form>
        <div class="checkout__aside">
            <table class="checkout-table">
                <tbody class="checkout-table__body">
                    <tr class="checkout-table__row">
                        <th class="checkout-table__header">Valor del pedido:</th>
                        <td class="checkout-table__cell">12</td>
                    </tr>
                    <tr class="checkout-table__row">
                        <th class="checkout-table__header">Entrega:</th>
                        <td class="checkout-table__cell">4</td>
                    </tr>
                </tbody>
                <tfoot class="checkout-table__foot">
                    <tr class="checkout-table__row">
                        <th class="checkout-table__header">Total:</th>
                        <td class="checkout-table__cell">{{amount}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</main>