<main class="content">
    <div class="store__top-header">
        <button *ngIf="!userLoginOn; else userLogged" (click)="openLoginModal()" mat-icon-button
            aria-label="Example icon-button with a menu">
            <mat-icon class="material-symbols-rounded">person</mat-icon>
        </button>
        <ng-template #userLogged>
            <button (click)="goToUser()" mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon>person</mat-icon>
            </button>
        </ng-template>

        <button (click)="openCartModal()" mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon>shopping_bag</mat-icon>
        </button>
    </div>
    
    <router-outlet></router-outlet>
    <app-cart *ngIf="cartModal" (closeEvent)="closeCartModal()"></app-cart>
    <app-login-modal *ngIf="loginModal" (closeEvent)="closeLoginModal()"></app-login-modal>
</main>