.admin-login {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: $padding-top $padding-sides;
    position: relative;
    width: 100%;
    @include tablet {
        padding: $mobile-padding-top $mobile-padding-sides;
    }
}