.checkout__container {
    column-gap: 30px;
    display: flex;
    width: 100%;
    @include mobile {
        flex-direction: column;
    }
}


.checkout__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 70%;
    @include mobile {
        width: 100%;
    }
}

.checkout__row {
    column-gap: 20px;
    display: flex;
    width: 100%;
}

.checkout__form-group {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 20px;
    width: 100%;
}

.checkout__section {
    //background-color: var(--color-secondary-light);
    border-radius: 10px;
    padding: 0 20px;
    width: 100%;

    .checkout__section-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h2 {
            margin: 0;
        }
    }
}
.checkout__section--unselected {
    //border: 1px solid var(--color-light-gray);
    background-color: var(--color-secondary-light);
    padding: 20px 20px;
    .checkout__section-header {
        margin: 0;
    }
}

.checkout__save {
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    width: 60%;
}

.checkout__accordion {
    width: 100%;
}

.checkout__accordion-item {
    border-top: 1px solid var(--color-light-gray);
    width: 100%;
}

.checkout__accordion-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    width: 100%;
}

.checkout__accordion-button--checked {
    background: var(--color-light-gray);
    border: none;

}

.checkout__accordion-radio-container {
    align-items: center;
    column-gap: 10px;
    display: flex;
}

.checkout__accordion-content {
    padding: 20px 20px;
}

.checkout__aside {
    background-color: var(--color-secondary-light);
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    position: sticky;
    top: 20px;
    width: 30%;
    @include mobile {
        position: relative;
        width: 100%;
    }
}

.checkout-table {
    border-spacing: 0;
    width: 100%;
}

.checkout-table__body {
    .checkout-table__header {
        color: var(--color-light-gray);
        font-weight: 200;
        font-size: smaller;
    }

    .checkout-table__cell {
        font-size: smaller;
    }

    .checkout-table__row:last-child {

        .checkout-table__header,
        .checkout-table__cell {
            padding-bottom: 20px;
        }

    }
}

.checkout-table__header {
    padding: 3px;
    text-align: left;
}

.checkout-table__cell {
    text-align: right;
}

.checkout-table__foot {
    border-collapse: collapse;
    border-collapse: collapse;

    .checkout-table__header,
    .checkout-table__cell {
        border-top: 1px solid var(--color-light-gray);
        padding: 8px 0 24px;
    }
}

.checkout__payment {
    display: flex;
    justify-content: center;
    width: 100%;
}