.confirmation {
    @include mobile {
        align-items: baseline;
    }
}
.confirmation__message {
    // align-items: flex-start;
    // display: flex;
    // flex-direction: column;
    max-width: 600px;
    text-align: center;
    width: 100%;
    @include mobile {
        text-align:left;
    }
}
.confirmation__important {
    font-weight: 600;
}
.confirmation__id {
    color: var(--color-primary)
}