.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: $padding-top;
}
.login__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}
.login__title {
    margin-bottom: 20px;
}