.product {
    // display: grid;
    // grid-template-columns: 1.2fr 1fr;
    // column-gap: 80px;
    column-gap: 30px;
    display: flex;

    padding: 0 40px;
}

.product__description {
    text-align: center;
    word-break: break-all;
}

.product__right {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.product__price {
    font-size: 30px;
}

.product__name {
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
}

.product__selected-image {
    background-color: white;
    object-fit: cover;
    // width: 100%;
    // max-width: 460px;
    height: 460px;
    width: 460px;
}

.product__images {
    column-gap: 5px;
    display: flex;

    .product__image-box {
        cursor: pointer;
        height: 55px;
        width: 55px;

        .product__image {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}