.store__top-header {
    display: flex;
    justify-content: end;
    //position: fixed;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    @include tablet {
        display: none;
    }
}