.content {
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: column;
    margin-left: $header-width;
    min-height: 100vh;
    padding-left: $padding-sides;
    padding-right: $padding-sides;
    padding-top: $padding-top;
    position: relative;
    row-gap: 30px;
}
.content__top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    //margin-bottom: 20px;
}
.content--padding-top {
    padding-top: $padding-top;
}