.toolbar {
    align-items: center;
    background-color: var(--color-background);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    bottom: 0;
    display: flex;
    height: 80px;
    justify-content: space-between;
    left: 0;
    padding: 30px 90px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.toolbar__options {
    align-items: center;
    column-gap: 30px;
    display: flex;
}

.toolbar__selection {
    align-items: center;
    display: flex;
    color: var(--color-text);
}
.toolbar__button {
    text-transform: uppercase;
}