.top-header {
    align-items: center;
    background-color: var(--color-background);
    //border-bottom: 5px dotted white;
    display: flex;
    //height: $top-header-height;
    height: fit-content;
    justify-content: space-between;
    left:0;
    padding-left: calc($header-width + $padding-sides);   
    padding-bottom: $padding-top;
    padding-right: $padding-sides;
    padding-top: $padding-top;  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $third-level;
    @include tablet {
        display: none;
    }
}
.top-header__options{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    align-items: center;
}
.top-header__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}