<main class="content about-me">
    <h1 class="about-me__title">Hola! Soy Laura Rodiz</h1>
    <div class="about-me__content">
        <img src="../../../../assets/images/Retrato.png" alt="Autoretrato de Laura Rodiz" class="about-me__portrait">
        <div class="about-me__description">
            <h2 class="about-me__subtitle">
                Soy ilustradora freelance. </h2>
            <p>
                He realizado carteles y el diseño del evento del Salón Manga de Chiclana. Para AJC Genkidama, hice carteles y diseñé una mascota. En Mortis Draco, creé ilustraciones para su página web, y en WNS Studio, una carátula para DVD y CD.
                También realicé la portada elegida para el cuaderno de
                orientación del año 2019 de La Junta de
                Andalucía.     
            </p>
            <p>
                Mis intereses incluyen videojuegos, animación, larp y psicología. Estoy siempre interesada en nuevos desafíos y oportunidades de colaboración.            </p>
            <!-- <p>
                She is currently creating the webcomic Kochab, and works with companies including Cartoon Network/WB TV
                (The
                Fungies, & AD for Shorts Program), Disney TVA (The Owl House), Titmouse, Nickelodeon, Riot Games, BOOM!
                Studios, Hiveworks Comics, Northway Games (Exocolonist), Deck of Many (Humblewood), ImagineFX, and
                Procreate.
            </p> -->
            <span class="about-me__email">rodiz.lau@gmail.com</span>
        </div>
    </div>

</main>