<section class="product">
    <h1 class="product__name--tablet">{{product.name}}</h1>
    <div class="product__column-1" aria-hidden="true">
        <img [src]="imageUrl+selectedImage" class="product__selected-image" alt="Imagen del producto" aria-hidden="true">
        <div class="product__images">
            <div (click)="selectImage(image_id)" class="product__image-box"
                *ngFor="let image_id of product.image_ids; index as i">
                <img [src]="imageUrl+image_id" class="product__image" alt="Imagen del producto">
            </div>
        </div>
    </div>
    <div class="product__column-2">
        <h1 class="product__name">{{product.name}}</h1>
        <span class="product__price">{{product.price}}€</span>
        <p class="product__description">{{product.description}}</p>
        <button class="product__button button button--white--large" (click)="addToCart(product.id)">
            <mat-icon>shopping_cart</mat-icon>
            <span>Añadir</span>
        </button>
    </div>
</section>

<div *ngIf="confirmationOn" class="cart-confirmation">
    <div class="modal__header">
        <mat-icon class="material-symbols-outlined">
            check_circle
        </mat-icon>
        <span> The item was added to the cart.</span>
        <!-- <mat-icon (click)="close()" class="modal__close material-symbols-rounded">
            close
        </mat-icon> -->
    </div>
    <div class="modal__content">
        <section class="cart-confirmation__product">
            <img class="cart-confirmation__image" [src]="imageUrl+selectedImage" alt="Imagen del producto" aria-hidden="true">
            <div class="cart-confirmation__product-info">
                <span class="cart-confirmation__name">{{product.name}}</span>
                <span >{{product.price}}€</span>
            </div>
        </section>
        <button [routerLink]="['/', 'checkout']" class=" cart-confirmation__button button button--white--large">Continuar con el pago</button>
        <button (click)="close()" class="button button--empty--large">Seguir comprando</button>
    </div>
</div>
<div *ngIf="confirmationOn" class="modal__backdrop" (click)="close()"></div>