<section class="product">
    <h1 class="product__name--tablet">{{product.name}}</h1>
    <div class="product__column-1">
        <img [src]="'http://localhost:8080/images/'+selectedImage" class="product__selected-image">
        <div class="product__images">
            <div (click)="selectImage(image_id)" class="product__image-box"
                *ngFor="let image_id of product.image_ids; index as i">
                <img [src]="'http://localhost:8080/images/'+image_id" class="product__image">
            </div>
        </div>
    </div>
    <div class="product__column-2">
        <h1 class="product__name">{{product.name}}</h1>
        <span class="product__price">{{product.price}}€</span>
        <p class="product__description">{{product.description}}</p>
        <button class="product__button button button--white--large" (click)="addToCart(product.id)">
            <mat-icon>shopping_cart</mat-icon>
            <span>Añadir</span>
        </button>
    </div>
</section>