<h1 class="content__title">Tienda</h1>
<div class="store-catalog__filters">
    <app-search-bar [placeholder]="'Buscar...'" (searchEvent)="search($event)"></app-search-bar>
    <app-select [predetermined]="predetermined" (selectEvent)="selectCategory($event)" [label]="'Categorías'" [items]="categories"></app-select>
</div>

<div class="store-catalog__content">
    <section class="products-list">
        <div class="products-list__product" *ngFor="let product of productsFiltered; index as i">
            <a [routerLink]="'/store/'+ product.id" class="products-list__image-link">
                <img class="products-list__image easeload" onload="this.style.opacity=1" [src]="imageUrl+product.thumbnail_image_id"
                [alt]="'Imagen del producto: '+ product.name"
                >
            </a>
            <a [routerLink]="'/store/'+ product.id" class="products-list__name">
                {{product.name}}
            </a>
            <span class="products-list__price">{{product.price}}€</span>
        </div>
    </section>
</div>