<div class="select">
    <div (click)="switch()" class="select__content">
        <span class="select__selected">{{label}}</span>
        <mat-icon class="material-symbols-outlined underlined-input__icon underlined-input__icon--right">
            {{!isOpen?'expand_more':'expand_less'}}
        </mat-icon>
    </div>
    <ul class="select__dropdown" [hidden]="!isOpen">
        <li (click)="select(predetermined)" class="select__item">
            {{predetermined}}
        </li>
        <li (click)="select(item.name)" class="select__item" *ngFor="let item of items; index as i">
            {{item.name}}
        </li>
    </ul>
</div>