<header class="header">
    <a class="nav__link" routerLink="/">
        <img class="header__logo" src="../../assets/images/logo.svg" alt="Inicio">
    </a>
    
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__element">
                <a class="nav__link" routerLink="/admin/illustration">Ilustraciones</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/admin/products">Productos</a>
            </li>
            <li class="nav__element">
                <a class="nav__link" routerLink="/admin/orders">Pedidos</a>
            </li>
            <li class="nav__element">
                <button (click)="logout()" class="button button--text nav__link">Cerrar sesión</button>
            </li>
        </ul>
    </nav>
</header>
