<div class="modal ">
    <div class="modal__header">
        <h2 *ngIf="loginMode; else registerTitle" class="login-modal__title">Iniciar sesión</h2>
        <ng-template #registerTitle>
            <h2 class="login-modal__title">Registrarse</h2>
        </ng-template>
        <mat-icon (click)="close()" class="modal__close material-symbols-rounded">
            close
        </mat-icon>
    </div>
    <div class="modal__content">
        <ul class="login-modal__benefits-list">
            <li class="login-modal__benefit">
                <mat-icon class="material-symbols-outlined">
                    check_circle
                </mat-icon>
                <p>Recibe notificaciones sobre el estado de tus pedidos</p>
            </li>
            <li class="login-modal__benefit">
                <mat-icon class="material-symbols-outlined">
                    check_circle
                </mat-icon>
                <p>Mira tu historial de pedidos y vuelve a pedir más rápido</p>
            </li>
        </ul>
        <form *ngIf="loginMode; else registerMode" [formGroup]="loginForm" class="form__group">
            <app-input formControlName="email" [label]="'Correo electrónico'" [placeholder]="''"
                 [required]="true"></app-input>
            <app-input formControlName="password" [label]="'Contraseña'" 
                [required]="true" [placeholder]="''"></app-input>
            <span *ngIf="loginError">{{loginError}}</span>
            <button (click)="login()" class="login-modal__submit-button button button--large--filled">Iniciar
                sesión</button>
        </form>
        <ng-template #registerMode>
            <form [formGroup]="registerForm" class="form__group">
                <app-input formControlName="email" [label]="'Correo electrónico'" [placeholder]="''"
                     [required]="true"></app-input>
                <app-input formControlName="password" [label]="'Contraseña'" 
                    [required]="true" [placeholder]="''"></app-input>
                <app-input formControlName="confirmPassword" [label]="'Confirma la contraseña'"
                    [required]="true" [placeholder]="''"></app-input>
                <span *ngIf="loginError">{{loginError}}</span>
                <button (click)="register()"
                    class="login-modal__submit-button button button--large--filled">Registrarse</button>
            </form>
        </ng-template>


        <button (click)="switchMode()" *ngIf="loginMode; else loginButton"
            class="login-modal__register-button button button--large--empty">Registrarse</button>
        <ng-template #loginButton>
            <button (click)="switchMode()" class="login-modal__register-button button button--large--empty">Iniciar
                sesión</button>
        </ng-template>
    </div>
    <!-- <div class="modal__footer">

    </div> -->
</div>
<div class="modal__backdrop" (click)="close()"></div>