<div class="navigation-bottom">
    <ul class="">
        <li class="navigation-bottom__item">
            <a [routerLink]="'/'">
                <img class="header-mobile__logo" src="../../assets/images/logo.svg" alt="Inicio">
            </a>
        </li>
        <li class="navigation-bottom__item">
            <a [routerLink]="'/store'">
                <mat-icon>local_mall</mat-icon>
            </a>
        </li>
        <li class="navigation-bottom__item">
            <button mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon>content_copy</mat-icon>
            </button>
        </li>
        <li class="navigation-bottom__item">
            <button mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon>content_copy</mat-icon>
            </button>
        </li>
    </ul>

</div>