// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "Rockb";
    src: url("../../fonts/ROCKB.TTF");
}
h1 {
    font-family: "Rockb";
    color: var(--color-primary);
}