<main class="content">
    <h1 class="about-me__title">Hello! I'm Laura Rodiz</h1>
    <div class="about-me__content">
        <img src="../../../../assets/images/Retrato.png" alt="" class="about-me__portrait">

        <div>
            <p>Sarah Webb is a freelance illustrator, visual development and background artist, and cartoonist from
                Alaska.
                She currently lives in Los Angeles, California, and graduated from MICA in Baltimore, Maryland.
            </p>
            <p>
                Her work focuses on creating immersive worlds and narratives, and is inspired by the otherworldly and
                odd
                within everyday life and nature. She is always interested in working on sapphic, fantasy/slice-of-life
                stories in any medium.
            </p>
            <!-- <p>
                She is currently creating the webcomic Kochab, and works with companies including Cartoon Network/WB TV
                (The
                Fungies, & AD for Shorts Program), Disney TVA (The Owl House), Titmouse, Nickelodeon, Riot Games, BOOM!
                Studios, Hiveworks Comics, Northway Games (Exocolonist), Deck of Many (Humblewood), ImagineFX, and
                Procreate.
            </p> -->
        </div>
    </div>

</main>